/*-----------------------------------------
            Font Family 
------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Roboto:700|Open+Sans:300,400,600,700,800|Lato:300,400,700,900|Permanent+Marker&display=swap");

:root {
  --text-font: "Open Sans", sans-serif;
  --header-font: "Roboto", sans-serif;
  --button-font: "Lato", sans-serif;
  --name-font: "Permanent Marker", cursive;
}
