/*----------------------------
        404 Page
-----------------------------*/

@-moz-keyframes rocket-movement {
  100% {
    -moz-transform: translate(1200px, -600px);
  }
}
@-webkit-keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
  }
}
@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}

@-moz-keyframes spin-earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}

@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@-moz-keyframes glow-star {
  40% {
    -moz-opacity: 0.3;
  }
  90%,
  100% {
    -moz-opacity: 1;
    -moz-transform: scale(1.2);
  }
}
@-webkit-keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1.2);
  }
}
@keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px;
  }
}

.error_page {
  background: var(--black-700);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: left top;
  height: 100vh;
  overflow: hidden;

  .brand_logo {
    margin: 15px 25px;
    filter: invert(80%);
  }

  .flex {
    padding: 17% 5% 10% 5%;
  }

  .text {
    font-size: 16px;
    color: var(--white);
  }
}

.object {
  img {
    z-index: 90;
    pointer-events: none;
  }

  &_rocket {
    position: absolute;
    top: 75%;
    z-index: 95;
    pointer-events: none;
    transform: translateX(-50px);
    animation: rocket-movement 200s linear infinite both running;
  }

  &_earth {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
    animation: spin-earth 100s infinite linear both;
  }

  &_moon {
    position: absolute;
    top: 12%;
    left: 25%;
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
  }

  &_astronaut {
    animation: rotate-astronaut 200s infinite linear both alternate;
  }
}

.box_astronaut {
  position: absolute;
  top: 60%;
  right: 20%;
  z-index: 110 !important;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.image_404 {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.stars {
  background: url("/assets/images/404-page/overlay_stars.svg") repeat left top;
  background-size: contain;
  height: 100%;
}

.glowing_stars {
  .star {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: var(--white);
    opacity: 0.3;
    will-change: opacity;

    &:nth-child(1) {
      top: 80%;
      left: 25%;
      animation: glow-star 2s infinite ease-in-out alternate 1s;
    }
    &:nth-child(2) {
      top: 20%;
      left: 40%;
      animation: glow-star 2s infinite ease-in-out alternate 3s;
    }
    &:nth-child(3) {
      top: 25%;
      left: 25%;
      animation: glow-star 2s infinite ease-in-out alternate 5s;
    }
    &:nth-child(4) {
      top: 75%;
      left: 80%;
      animation: glow-star 2s infinite ease-in-out alternate 7s;
    }
    &:nth-child(5) {
      top: 90%;
      left: 50%;
      animation: glow-star 2s infinite ease-in-out alternate 9s;
    }
  }
}

@media only screen and (max-width: 600px) {
  .box_astronaut {
    top: 70%;
  }

  .flex {
    padding-top: 25% !important;
  }
}
